.light{
  background-color:#fdebf5;
  margin:0;
  font-family: Arial, Helvetica, sans-serif ;
  }

.dark{
  background-color: #be808e;
  margin:0;
  font-family: Arial, Helvetica, sans-serif ;
  }
  
.light .h1 {
  color: #312f38;
    
}

.box{
  background-color:#9a8aa6;
  height: 140vh;
  width: 25%;
}
.dark .box{
  background-color: #3a374f;
  height: 140vh;
  width: 25%;
}

.box ul li{
  margin:0px 0px 60px 0px;
  text-align: center;
}
.box ul{
  padding: 0px;
  text-decoration: none;
  list-style: none;
}
.menu{
  text-align: center;
  margin: 50px 0px;
}
.background{
  width: 100%;
}
.title{
  text-align: center;
  margin: 30px 10px;
  font-size: 60px;
}
.icon{
 margin-top: -15px;
 float:right;
}

.light .recipe{
  display:flex;
  min-height: 200px;
  min-width: 150px;
  background-color: #545066 ;
  border-radius: 20px;
  box-shadow: transparent 0 0 0 10px,rgba(34, 0, 44, 0.548) 0 6px 20px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 60px;
  margin-bottom: 50px;

}

.dark .recipe{
  display:flex;
  min-height: 200px;
  min-width: 150px;
  background-color: #53435b ;
  border-radius: 20px;
  box-shadow: transparent 0 0 0 10px,rgba(34, 0, 44, 0.548) 0 6px 20px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 60px;
  margin-bottom: 50px;

}

.container{
  display:flex;
  
}

.description{
  margin-left: 40px;
  margin-right: 20px;
  color: #fdebf5;
  
}

.light .recipe_image {
  background-color: #e3c5d5;
  height:300px;
  width: 300px;
  text-align: center;
  padding: 0px;


}

.dark .recipe_image {
  background-color: #b87280;
  height:300px;
  width: 300px;
  text-align: center;
  padding: 0px;
}

.recipe_image img{
  float: none;
  margin: 0px;
  width: 300px !important;
  height: 300px !important;
}

.recipe_text{
  width: 600px;
  
}

.recipe_button{
  text-align: center; 
}

.light .recipe_name{
  text-align: center;
  color:#e4d39f;
}
.dark .recipe_name{
  text-align: center;
  color:#100f16;
}
.recipe_button a{
  text-align: center;
  list-style: none;
  margin: 100px;
  width: 70px;
  height: 30px;
  align-items: center;
  background-color: #e4d39f;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
 
 
/* CSS */
.box ul li a , .add_image_button input{
  min-width: 150px;
  align-items: center;
  background-color: #5450664b;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #fdebf5;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.box ul li a:focus, .add_image_button input:focus {
  box-shadow: #33113d10 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.box ul li a:hover, .add_image_button input:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.buttons{
  display:flex;  
}

.previous{
  width:50%;
  text-align: center;
  list-style: none;
}

.next{
  width:50%;
  text-align: center;
  list-style: none;
}



.button_next{
  width: 100px;
  height: 30px;
  align-items: center;
  background-color: #312f38;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #fdebf5;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  border: 0;
}

.button_previous{

  width: 100px;
  height: 30px;
  align-items: center;
  background-color: #312f38;
  border-radius: 12px;
  box-sizing: border-box;
  color: #fdebf5;
  display: inline-flex;
  flex: 1 1 auto;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  white-space: nowrap;
  border: 0;
}
.in{
  color: #fdebf5;
  text-decoration: none;
}



.recipe_img{
  width: 500px;
  height: 400px;
  padding-left: 35%;
  padding-right: 25%;
  padding-top: 75px;
  padding-bottom: 100px;

}
.img{
  
  width: 100%;
  height: 100%;

}

.light .recipe_description{
  margin-left: 29.5%;
  margin-right: 25%;
  background-color: #ffffff;
  height: 50px;
  width: 695px;
}

.dark .recipe_description{
  margin-left: 29.5%;
  margin-right: 25%;
  background-color: #ffffff;
  height: 50px;
  width: 695px;
  
}
.recipe_description h2{
  padding-top: 10px;
  margin-left: 50px;
  color: #e4d39f;
}

.recipe_sup_list{
  text-align: left;
  color: #fdebf5;
  margin-left: 50px;
  margin-top: 10px;
  
  
}
.recipe_sup{
  margin-top: 10px;
  margin-bottom: 10px;
}
.recipe_instructions{
  margin-left: 25%;
  margin-right: 25%;
  background-color:  #545066;
  min-height: 270px;
  border-radius: 20px;
}
.recipe_instructions h2{
  padding-top: 10px;
  margin-left: 50px;
  margin-top: 10px;
  color: #e4d39f;
}

.recipe_instructions p{
  margin-left: 50px;
  margin-top: 10px;
  color: #fdebf5;
}

.recipe_info {
  margin-left: 25%;
  margin-right: 25%;
  background-color:  #545066;
  min-height: 100px;
  border-radius: 20px;
  
}
.recipe_info h2{
  padding-top: 10px;
  margin-left: 50px;
  margin-top: 10px;
  color: #e4d39f;
}

.recipe_info p{
  margin-left: 50px;
  margin-top: 10px;
  color: #fdebf5;
}



.recipe_creation{
  font-size: 24px;
  margin-left: 25%;
  margin-bottom: 7px;
  margin-top: 7px;
}
.recipe_creation input[type='text']{
  width: 55%;
  margin-left: 35px;
}

.recipe_creation input[name="complexity"] {
  width: 55%;
  margin-left: 20px;
}

.recipe_creation input[name="cooking_time"] {
  width: 55%;
  margin-left: 40px;
}

.recipe_creation input[name="recipe_description_area"] {
  height: 50px;
  width:50px;
}

.add_image_button{
  text-align: center;
  list-style: none;
  margin:15%;
  color: #454153;
}
.recipe_text_area{
  min-width: 700px;
  min-height: 300px;
  text-align: left;
  margin-left: 6%;
  margin-top: 3%;
}

.background input[type="submit"]{
  margin-left: 50%;
}

.background fieldset{
  text-align: left;
  margin-left: 25%;
  width: 50%;
  height: 700px;
  background-color: #e3c5d5;
  margin-top: 50px;

}

.new_user_name, .new_user_password, .new_user_experience, .new_user_birth, .user_name, .user_password{
  font-size: 20px;
  text-align: left;
  margin-left: 30%;
  margin-bottom: 20px;
  margin-top: 40px;

}
.new_user_name{
  margin-top: 60px;
}

.new_user_password input[type="text"]{
  min-width: 235px;

}

.new_user_experience input[type="text"]{
  min-width: 135px;
  margin-bottom: 40px;

}

.login_button{
  width: 100px;
  height: 30px;
  align-items: center;
  background-color: #312f38;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #fdebf5;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  margin: 0;
  outline: none;
  padding: 5px;
  border: 0;
}

.button_theme{
  width: 100px;
  height: 30px;
  background: transparent;
  border: none;
  position: absolute;
  right: 0px;
  top: 30px; 

}
.light .author{
  text-align: center;
  padding: 3px;
  background-color:#545066;
  color: rgb(255, 255, 255);
}

.dark .author{
  width: 375px;
  text-align: left;
  padding: 3px;
  background-color:#b87280;
  color: rgb(255, 255, 255);
}
.added_image{
  margin-top: 10%;
  margin-left: 32%;
}

.error  {
  color: red;
}

.error::after {
  content: ' Chybne vyplneno';

}

.recipe_text_area{
  display: block;
}
.recipe_description{
  margin-left: 6% !important;
  margin-bottom: 7px;
  margin-top: 7px;
  display: block;
}